@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

/* ----------------COLOR VARIABLES---------------- */
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
}

/* ----------------GLOBAL STYLES---------------- */

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

/* ----------------BUTTON---------------- */

.button {
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border-color: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  border-color: 2px solid var(--color-brand-light);
}

/* ----------------LINKS---------------- */

.link {
  text-decoration: none;
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* ----------------HEADER---------------- */

/* ----------------HERO---------------- */

.hero-titel {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-titel .accent {
  color: var(--color-brand-light);
}

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/* ----------------TRADITIONS---------------- */

.section-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .brand.oppercase {
  text-transform: uppercase;
}

/* ----------------CHIEF---------------- */

.chief-title {
  font-size: 40px;
  font-weight: 600;
}

/* ----------------FORMATS---------------- */

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* ----------------CONTACTS---------------- */

/* ----------------FOOTER---------------- */

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.address-copyright {
  font-size: 14px;
}
