*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

address {
  font-style: normal;
}
