.chef-section {
  &__title {
    margin: 0 auto 24px;
    position: relative;

    @media screen and (min-width: 1280px) {
      margin-bottom: 80px;
    }

    &::after,
    &::before {
      display: none;
      position: absolute;
      bottom: 24px;
      width: 352px;
      border: 2px solid var(--color-brand-light);
      content: "";

      @media screen and (min-width: 1280px) {
        display: block;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }
  }
}
