.contacts-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
  }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    flex-shrink: 0;
    height: 176px;
    margin: 0 -24px;
    height: 100%;
    border-radius: 16px;
    border: none;

    @media screen and (min-width: 768px) {
      margin: auto;
    width: 320px;
    height: 500px;
  }

  @media screen and (min-width: 1280px) {
    width: 600px;
    height: 595px;
  }
  }
}
