.footer {
  text-align: center;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url(/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  &::before,
  &::after {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    content: "";
  }

  &::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(/images/decor-bread-small.png);
  }

  &::after {
    width: 380px;
    height: 180px;
    right: 0;
    background-image: url(/images/decor-bread-large.png);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-contacts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
    text-decoration: none;
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }

  &__address-icon:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }

  &__address-copyright {
    color: var(--color-brand-light);
    font-size: 14px;
  }
}
