.footer {
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url(/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before,
  &::after {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    content: "";
  }

  &::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(/images/decor-bread-small.png);
  }

  &::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(/images/decor-bread-large.png);
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__logo,
  &__menu {
    flex-basis: 50%;
    gap: 20px;
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
    text-decoration: none;
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }

  &__address-icon:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }

  &__address-copyright {
    color: var(--color-brand-light);
    font-size: 14px;
  }
}
