.formats-section {
  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  &__container {
    position: relative;
    flex: 1;
    overflow: hidden;
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;
  }

  &__list {
    margin-bottom: 32px;
  }

  &.swiper-slide {
    justify-content: center;
    align-items: center;
  }

  &__button {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}
