.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-left: 103px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: 1280px) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: 1280px) {
      display: block;
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-light);

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}
