.hero-section {
  padding: 124px 0;
  background-color: wheat;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(/images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @media screen and (min-width: 1280px) {
    padding: 272px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        102.76deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url(/images/hero-section-background@2x.jpg);
  }

  &__titel {
    margin-bottom: 48px;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 67px;
    line-height: 1;
    font-weight: 700;

    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
      font-size: 128px;
      line-height: 1.5;
    }
  }

  &__button {
    margin: 0 auto;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}
