.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__image {
    display: none;
    border-radius: 200px 200px 4px 4px;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__text {
    &--limited {
      max-width: 340px;
    }
  }
}
