.button {
  padding: 14px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border-color: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-brand-dark);
  border-color: 2px solid var(--color-brand-normal);
  transform: scale(1.05);
  transition: transform 0.3s;
}
