.button {
  padding: 14px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border-color: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-brand-dark);
  border-color: 2px solid var(--color-brand-normal);
  transform: scale(1.05);
  transition: transform 0.3s;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}
