.carousel-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  svg {
    fill: var(--color-brand-normal);
    transition: transform 0.3s ease;
  }

  &:hover svg {
    transform: scale(1.2);
  }  

  &.prev {
    transform: rotate(180deg);
  }
}