.chefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.chefs-title::after,
.chefs-title::before {
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chef-item {
  flex-basis: calc(100% / 2 - 30px);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}
