.pagination {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;

    &__button {
        width: 12px;
        height: 12px;
        padding: 0;
        background-color: var(--color-secondary-dark);
        border-radius: 50%;
    }

    &__active {
        background: var(--color-brand-normal);
    }
}